*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
    background: red;
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 50%;
    text-align: center;
    background: white;
    border: solid 2px black;
    border-radius: 10px;

}
#titulo{
    text-align: center;
    background: green;
}
h1{
   
    margin-top: 15px;
    text-align: center;
}

label{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    background: blue;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 40px; /* Asegurate de que tenga altura */

}

.fila{
    display: flex;
    background: pink;
    height: 50%;
    margin-top: 5px;
}
.columna1{
    width: 50%;
    background: orange;
    height: 80%;
    margin-top: 10px;
}
.columna2{
    width: 50%;
    background: purple;
    height: 80%;
    margin-top: 10px;
}
input{
    margin: auto;
    margin-top: 5px;
    width: 80%;
    text-align: center;

}

button{
    background: yellowgreen;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}
button:hover{
    background: green;
}
button:active{
    background: rgb(114, 241, 10);
}
p{
    text-align: center;
    background: yellow;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    
}
@media (max-width:768px){
    .container{
        flex-direction: column;
    }
    .fila{
        flex-direction: column;
    }
    .columna1{
        width: 100%;
    }
    .columna2{
        width: 100%;
    }
}