body{
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

@media (max-width:768px){
    body{
        background-color: rgb(238, 49, 49);
    }
}

/*line-height: 100px; se usa para alinear el texto o caja en el centro (buscar mas informacion*/




